@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1150px;
    margin-inline: auto;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: .8;
    transition-duration: .2s;
}
body {
    font-family: 'Gilroy', sans-serif;
    font-size: 1.125rem;
    color: white;
    overflow-x: hidden;
}

button {
    font: inherit;
    border: none;
    background: none;
    color: inherit;
}

.btn {
    width: 260px;
    height: 50px;

    text-transform: uppercase;
    letter-spacing: 0.1125rem;

    border: 1px #fff solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font: inherit;
    color: inherit;
 }

/************** 
     HEADER
 **************/
 
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    padding-block: 25px;
}

.header__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 40px;

}

.header__item {
    font-size: 0.875rem;
}

.header__link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.visually-hidden {
    position: absolute;
    left: -1000000000000000000px;
}

/************** 
     MAIN
 **************/

 /************** 
     WELCOME
 **************/

.welcome {
    margin-top: -108px;
    min-height: 100vh;
    width: 100%;
    /* background:hsla(0, 0%, 20%, 33%), url("images/welcome-bg.jpg"); */
    background:  linear-gradient(to right, hsla(0, 0%, 20%, 87%), hsla(0, 0%, 20%, 87%)),no-repeat center/cover url("images/welcome-bg.jpg");
}
.welcome__container {
    padding-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 100px;
}
.welcome__col {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    align-items: center;   
}

.welcome__col-title {
    font-size: 2.25rem;
}
.welcome__col-link {
    width: 260px;
    height: 50px;

    text-transform: uppercase;
    letter-spacing: 0.1125rem;

    border: 1px #fff solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome__col-link:hover {
    cursor: pointer;
}

.welcome__images {
    border-top: 1px #fff solid;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    padding-block: 30px;
}

.welcome__images-img:not(:last-child) {
    position: relative;
}

.vertical-line {
    width: 1px;
    height: 60px;
    background-color: #fff;
}

/************** 
     PRODUCTS
 **************/

.products {
    padding-top: 100px;
    padding-bottom: 120px;
    color: black;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.title__small {
    font-size: 1.3125rem;
}

.title__big {
    font-size: 1.875rem;
}

.panels {
    margin-top: 60px;
}

.panels__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panels__button {
    width: 165px;
    height: 61px;
    border: 1px solid #D6D6D6;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
}

.panels__button.active{
    background-color: #333;
    color: #fff;
}

.panels__content {
    display: none;
}

.panels__content.active {
    margin-top: 55px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 30px;
    
}

.panels__link {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, hsla(0, 0%, 71%, 20%) 20%, #333 100%);
}

.panels__img {
    position: relative;
    z-index: -1;
    width: 350px;
    height: 280px;
}

.img__desc {
    position: absolute;
    color:#fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    bottom:30px;
    left: 50%;
    transform: translate(-50%, -50%);
}


/************** 
     Salon
 **************/
.salon {
    background: url("images/salon_bg.jpg");
    height: 540px;
    padding-block: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.salon__desc {
    width: 730px;
    text-align: center;
}
/************** 
     Articles
 **************/
.articles {
    color: black;
    padding-block: 120px;
}

.articles__content {
    margin-top: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.articles__content .panels__img {
    width: 350px;
    height: auto;
}

.articles__content .img__desc {
    font-size: 1.3125rem;
    text-transform: none;
    text-align: center;
    bottom: 35px;
}

.articles__btn {
    margin-inline: auto;
    background-color: #333;
    color: #fff;
    margin-top: 60px;
}

/************** 
     Socials
 **************/

.socials {
   color: black;
   padding-bottom: 150px;
}
/************** 
     CTA
 **************/
.cta {
   padding-top: 100px;
   padding-bottom: 125px;
   background: url("images/salon_bg.jpg");
}
.cta__row {
   margin-top: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 80px;
}
.form {
   display: flex;
   gap: 15px;
   align-items: center;
   justify-content: center;
   background-color: white;
   width: 420px;
   height: 85px;
}
.cta__email {
    height: 45px;
    width: 200px;
    padding-left: 22px;
    color: black;
    border: none;
    border: 1px solid #D6D6D6;
}

.cta__btn {
    width: 160px;
    height: 45px;
    background-color: #333;
    border: 1px solid #fff;
}

.form-wrapper {
    width: 450px;
    height: 115px;
    background: transparent;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    list-style-image : url("icons/subscribe__icon.svg");
}

.cta__list-item {
    padding-left: 20px;
}

/************** 
    Footer
 **************/
.footer {
    padding-top: 80px;
    padding-bottom: 20px;
    color: #333;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__col {
    width: 255px; 
    font-size: 0.875rem;
}

.col__title {
    color: inherit;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.125rem;
    margin-bottom: 10px;
}

hr {
    margin-bottom: 30px;
}
.col__desc {
    
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.footer__images {
    display: flex;
    gap: 20px;
}

.footer__list {
    list-style-image: url("icons/phone-icon.svg");
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__list-item {
    
}

.footer__list-item:last-child {
    list-style-image: url("icons/mail-icon.svg");
}